/* body {
    background-color: #eee
} */

/* .t-products {
    background-image: linear-gradient(to right top, #5629c0, #5625cb, #5620d5, #551ae0, #5412eb);
    color: #fff;
    border-radius: 3px
} */

/* .processor {
    background-color: #fff;
    margin-top: 5px;
    border-bottom: 1px solid #eee
} */

/* .brand {
    background-color: #fff;
    border-bottom: 1px solid #eee
} */

/* .type {
    background-color: #fff
} */
.box{
    /* background-color: #198754 !important; */
    width: 94% !important;
}
.product {
    padding: 10px;
    background-color: #fff;
    border-radius: 7px !important;
    border: 1px solid #f7f3f3;
    position: relative;
    
}
.product:hover{
   /* background-color: #b6f7d885; */
   border-color: #198754 !important;
   box-shadow: 0 0 15px rgba(54, 202, 54, 0.2) !important; 
}

.about span {
    color: #198754;
    font-size: 16px
}


/* .about h6 {
    font-size: 12px !important;
} */

/* .cart-button button {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    height: 38px
} */

/* .cart-button button:focus,
button:active {
    font-size: 12px;
    color: #fff;
    background-color: #5629c0;
    box-shadow: none
} */

/* .product_fav i {
    line-height: 40px;
    color: #5629c0;
    font-size: 15px
} */

/* .product_fav {
    display: inline-block;
    width: 36px;
    height: 39px;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 11%;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
} */

/* .product_fav:hover {
    background: #5629c0
}

.product_fav:hover i {
    color: #fff
} */

/* .about {
    margin-top: 12px
} */

.off {
    position: absolute;
    left: 65%;
    top: 6%;
    width: 80px;
    text-align: center;
    height: 30px;
    line-height: 8px;
    /* border-radius: 5px; */
    border-radius: 0 10px 0 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff
}

.col-lg-3 .btn.btn-primary {
    width: 100% !important;
    height: 43px !important;
    box-shadow: none !important;
    outline: none !important;
    background-color: #198754 !important;
    color: white !important;
    font-weight: 800 !important;
    padding: 0px 15px !important;
    line-height: 22px !important;
    border: none !important;
}

.col-lg-3 .btn.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

.col-lg-3 .btn.btn-primary:hover {
    background-color: #19875479 !important;
}

.col-lg-3 ul {
    width: 100% !important;
    background-color: white !important;
    display: block;
    padding: 10px;
}
.col-lg-3 ul a {
    margin-top: 8px;
    margin-left: 15px;
    font-size: 15px;
}

.col-lg-3 ul a:hover {
    /* color: #aadf5a; */
    color: #198754;
}
.col-lg-3 a.fas {
    position: relative !important;
    font-size: 20px !important;
    text-decoration: none !important;
    color: black !important;
}

.product_fav i {
    line-height: 44px;
    color: #cccccc
}

.product_fav {
    display: inline-block;
    width: 42px !important;
    height: 40px !important;
    background: #FFFFFF;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1) !important;
    border-radius: 11%;
    text-align: center;
    cursor: pointer;
    margin-left: 3px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease
}