.cat {
    margin-bottom: 23rem !important;
}

.sss {
    margin-top: 200px !important;
    margin-top: 200px !important;
}

.box {
    width: 100% !important;
}

.form-check-label {
    cursor: pointer !important;
}

.form-check-label:hover {
    color: #198754 !important;
}

.product {
    width: 100% !important;
    background-color: #fff;
    border: 1px solid #fff;
}

.infinite-scroll-component {
    overflow:hidden !important;
}

.product:hover {
    border-color: #198754 !important;
    /* box-shadow: 0 0 15px rgba(54, 202, 54, 0.2) !important; */
    box-shadow: 15px 13px 25px -10px rgba(54, 202, 54, 0.2) !important;
    -webkit-box-shadow: 15px 13px 25px -10px rgba(54, 202, 54, 0.2) !important;
    -moz-box-shadow: 15px 13px 25px -10px rgba(54, 202, 54, 0.2) !important;
}

.about span {
    color: #198754;
    font-size: 16px
}

.col-lg-3 .btn.btn-primary {
    width: 100% !important;
    height: 43px !important;
    box-shadow: none !important;
    outline: none !important;
    background-color: #198754 !important;
    color: white !important;
    font-weight: 800 !important;
    padding: 0px 15px !important;
    line-height: 22px !important;
    border: none !important;
}

.col-lg-3 .btn.btn-primary:focus {
    outline: none !important;
    box-shadow: none !important;
}

.col-lg-3 .btn.btn-primary:hover {
    background-color: #19875479 !important;
}

.col-lg-3 ul {
    width: 100% !important;
    background-color: white !important;
    display: block;
    padding: 10px;
}

.col-lg-3 ul a {
    margin-top: 8px;
    margin-left: 15px;
    font-size: 15px;
}

.col-lg-3 ul a:hover {
    color: #198754;
}

.col-lg-3 a.fas {
    position: relative !important;
    font-size: 20px !important;
    text-decoration: none !important;
    color: black !important;
}
@media screen and (max-width: 1415px) {
    .images-class {
        width: 97% !important;
    }
}
@media screen and (max-width: 1400px) {
    .images-class {
        width: 97% !important;
    }
    .colside {
        flex: 0 0 auto;
        width: 100%;
        height: 100%;
    }
}

@media screen and (max-width: 992px) {
    .images-class {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .col-md-9 {
        flex: 0 0 auto;
        width: 75%;
    }
}

@media screen and (max-width: 321px) {
    .about h6{
        font-size: 12px;
    }
    .about span {
        color: #4a1af8;
        font-size: 12px
    }
}
