.wrapper {
  text-align: center;
}
.wrapper :hover {
  cursor: pointer;
}
.wrapper .img {
  border-radius: 50%;
  width: 30%;
  height: 50%;
}
.wrapper .img i {
  font-size: 25px;
}
.wrapper .product {
  /* padding: 30px; */
}
.wrapper .product h3 {
  font-weight: 500;
}
.wrapper p {
  font-size: 14px;
}
