.homeSlide ul {
  bottom: 20px;
}

.sli{
  margin-top: 25px !important;
}

 @media only screen and (max-width: 480px) {

  .slideImage{
    height: 200px !important;
    margin-top: 20px !important;
  }
 }
 
 @media only screen and (max-width: 390px) {

  .slideImage{
    height: 200px !important;
    margin-top: 25px !important;
  }
 }
