.fav{
    margin-top: 50px !important;
    margin-bottom: 50px !important;
}

.productShadow:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 1415px) {
    .images-class {
        width: 97% !important;
    }
}
@media screen and (max-width: 1400px) {
    .images-class {
        width: 97% !important;
    }
}

@media screen and (max-width: 992px) {
    .images-class {
        width: 100% !important;
    }
}
