.fav{
    margin-top: 80px !important;
    margin-bottom: 50px !important;
}

@media screen and (max-width: 1415px) {
    .images-class {
        width: 97% !important;
    }
}
@media screen and (max-width: 1400px) {
    .images-class {
        width: 97% !important;
    }
}

@media screen and (max-width: 992px) {
    .images-class {
        width: 100% !important;
    }
}
