
.shop-bag{
    background-color:#198754;
    color:#fff;
    height:50px;
    width:50px;
    font-size:25px;
    display:flex;
    border-radius:50%;
    align-items:center;
    justify-content:center;
}

.qty{
    font-size:12px;
    color: #198754;
    font-weight: 500;
}