
.manage{
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.form-con{
    margin-top: 200px !important;
    padding: 30px !important;
}
.controlCard{
    height: 20em !important;
}
