.footer {
  background-color: #198754;
}

footer .img {
  background-color: #0c2a4d;
  border-radius: 5px;
}

footer li {
  margin-bottom: 10px;
  /* opacity: 0.5; */
}
.click{
  color: aliceblue;
}
.click:hover{
  color: aliceblue;
  text-decoration:underline;
}

@media (min-width: 768px) {
  .px-md-5 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}
