.footer {
  background-color: #198754;
}

footer h1 {
  margin-bottom: 30px;
  color: #fff;
  font-weight: 800;
  font-style: italic;
}

footer .img {
  background-color: #0c2a4d;
  border-radius: 5px;
}

footer h2 {
  margin-bottom: 20px;
}

footer li {
  margin-bottom: 8px;
  /* opacity: 0.5; */
}
footer ul {
  padding: 0 !important;
}
.click{
  color: aliceblue;
}
.click:hover{
  color: aliceblue;
  text-decoration:underline;
}

@media (min-width: 768px) {
  .px-md-5 {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }
}
