.product-success {
  margin-top: 80px !important;
  margin-bottom: 40px !important;
}

.success-product-box {
  max-width: 80% !important;
  margin: 0 auto !important;
}

.text-box {
  margin-top: 10px !important;
}

.fs-12 {
  font-size: 12px;
}

.fs-15 {
  font-size: 15px;
}

.name {
  margin-bottom: -2px;
}

.product-details {
  margin-top: 13px;
}

@media (max-width: 992px) {
  .image_list li img {
    max-width: 20%;
  }

  .image_selected img {
    max-width: 40%;
  }
}

@media (max-width: 768px) {
  .image_list li img {
    max-width: 11%;
  }

  .image_selected img {
    max-width: 48%;
  }
  .receipt {
    margin-top: 30px !important;
  }
}
