@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  /* height: 100% !important; */
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #eee !important;
  min-height: 100vh !important;
  
}
.background {
  padding: 50px 0;
}
a {
  text-decoration: none;
}
.capitalize {
  text-transform: capitalize;
}
.RText {
  text-align-last: right;
}
.boxShadow {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
}
/*---------category----------*/
.category {
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
  background-color: #fff;
  width: 23%;
  height: 510px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 5px;
}
.category img {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  object-fit: contain;
}
.category span {
  margin: 10px 20px;
  text-transform: capitalize;
}
.category .box {
  transition: 0.5s;
  padding: 0 20px;
}
.category .box:hover {
  background-color: #ffe1e6;
  cursor: pointer;
}
.top {
  margin-top: 140px !important;
}
.mtop {
  margin-top: 40px;
}
/*----- control btn -------*/
.control-btn .next,
.control-btn .prev {
  position: absolute;
  top: 40%;
  width: 50px;
  height: 50px;
  line-height: 60px;
  background: #0f3460;
  border-radius: 50%;
  transform: 0.5s;
  z-index: 5;
}
.control-btn .prev {
  left: -20px;
}
.control-btn .next {
  right: -20px;
}
.control-btn .prev i,
.control-btn .next i {
  font-size: 20px;
  transition: 0.5s;
  color: #fff;
}
.control-btn .prev:hover,
.control-btn .next:hover {
  background: #e94560;
  color: white;
  cursor: pointer;
}
/*----- control btn -------*/
/*----- heading -------*/
.heading .heading-left i {
  font-size: 30px;
}
.heading .heading-left h2 {
  font-size: 25px;
  margin: 5px;
}
.heading .heading-right i,
.heading .heading-right {
  text-align: right;
  color: grey;
}
/*----- heading -------*/
